# Dependencias (por si en el futuro usan npm/Tailwind CLI, etc.)
node_modules/
package-lock.json

# Variables de entorno / credenciales
.env
.env.local

# Carpetas de build/compilación
dist/
build/

# Configuración local del editor
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs y temporales
*.log
*.tmp
